<!DOCTYPE html>
<html lang='pt-BR'>
	<% include ../partials/head %>
	<% include ../partials/header %>	

	<body>
		<main style="margin-top: 3%">
			<div class="row">
				<div class="col s12 m6 offset-m3">
					<div class="card">
						<div class="card-title center">
							<span><h4>Kart BI</h4></span>
						</div>
						<div class="card-content">
							<p class="flow-text" style="text-align: justify;">
								O Kart BI é um produto que lê um arquivo texto (.txt, .log, .tsv) contendo informações de uma corrida.
							</p>
							<br>
							<p class="flow-text" style="text-align: justify;">
								O resultado do processamento do arquivo gera as seguintes informações:
							</p>
							<br>
							<blockquote>
								<span style="text-align: justify;">A melhor volta da corrida.</span>
							</blockquote>

							<blockquote>
								<span style="text-align: justify;">A posição dos pilotos.</span>
							</blockquote>

							<blockquote>
								<span style="text-align: justify;">A velocidade média de cada piloto.</span>
							</blockquote>

							<blockquote>
								<span style="text-align: justify;">A melhor volta de cada piloto.</span>
							</blockquote>

							<blockquote>
								<span style="text-align: justify;">A distância dos demais pilotos para o primeiro colocado.</span>
							</blockquote>	
							<br>
							<p class="flow-text" style="text-align: justify;">
								Para funcionamento da aplicação, o arquivo deve estar no formato:
							</p>
							<br>
							<table class="responsive-table centered">
								<thead>
									<tr>
										<th>Hora</th>
										<th>Piloto</th>
										<th>Nº Volta</th>
										<th>Tempo Volta</th>
										<th>Velocidade média da volta</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>23:49:08.277</td>
										<td>038 – F.MASSA</td>
										<td>1</td>
										<td>1:02.852</td>
										<td>44,275</td>
									</tr>
									<tr>
										<td>hh:mm:ss.fff</td>
										<td>Código piloto - Nome Piloto</td>
										<td>Inteiro</td>
										<td>mm:ss.fff</td>
										<td>Decimal</td>
									</tr>																	
								</tbody>
							</table>
							<br>
							<p class="flow-text" style="text-align: justify;">
								Os dados devem estar separados por espaço ou tabulação. <b>Não</b> utilizar outro delimitador.
							</p>
							<br>
							<p class="flow-text" style="text-align: justify;">
								<a href="/carregaArquivo">Clique aqui</a> para realizar upload do seu arquivo.
							</p>		
						</div>			
					</div>
				</div>
			</div>
		</main>
	</body>
	
	<%include ../partials/footer %>

</html>