 <footer class="page-footer">

	<!-- JAVASCRIPT -->
	<script src="/js/materialize.min.js"></script>
	<script src="/js/initializers.js"></script>
	<!-- JAVASCRIPT -->

	<div class="footer-copyright">
	    <div class="container">
	        © 2019 Copyright Tiago Aro
	    	<a class="grey-text text-lighten-4 right" href="https://github.com/Tgaro">About me</a>
	    </div>
	</div>
</footer>