<header>
  <nav>
  	<div class="nav-wrapper">
        <a href="#!" class="brand-logo right">Kart BI</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="home">Início</a></li>
          <li><a href="carregaArquivo">Processamento de arquivo</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="home">Início</a></li>
      <li><a href="carregaArquivo">Processamento de arquivo</a></li>
    </ul>
  </nav>
</header>